numpy==1.23.5
opencv-python==4.7.0.72
scipy==1.9.3
pandas==1.5.3
keras==2.10.0
tensorflow==2.10.0
tensorflow-addons==0.17.1
scikit-learn==1.1.3
scikit-image==0.19.3
torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
torchdata==0.5.1
torchtext==0.14.1
torchrec==0.3.2  
pillow==9.3.0
h5py==3.7.0
joblib==1.2.0
tqdm==4.64.1
matplotlib==3.6.2
ipython==8.11.0